.top-bar, .top-bar ul {
    color: #fff;
    background-color: #2c3840;
}

.top-bar a {
    color: #fff;
    text-decoration: none;
}

a {
    color: #2c3840;
    text-decoration: underline;
}

.container {
    margin-top: 4%;
    margin-bottom: 4%;
}
